:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 400;
}

body {
  color-scheme: normal;
  color: rgba(30, 17, 17, 0.87);
  margin: 15px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #4c994c;

}

h1 {
  color: rgba(193, 20, 20, 0.87);
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 7px;
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: .4em 1.1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  color: rgba(30, 17, 17, 0.87);
  transition: border-color 0.25s;
  
}
input {
  background-color: #f2ecec;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-left: 2px;
  height: 20px;
  width: 80px;
}



