:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: revert;
  color: rgba(30, 17, 17, 0.87);
  background-color: #428c42;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 15px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: rgba(193, 20, 20, 0.87);
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 7px;
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: .4em 1.1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ecd7d7;
  transition: border-color 0.25s;
  
}
input {
  background-color: #f2ecec;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-left: 2px;
  height: 20px;
  width: 80px;

}



